{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>



</body>
<style>
  /* Add some padding to the content to avoid overlapping with the fixed navbar */
  .content {
    padding-top: 50px;
    /* Adjust this value as needed */
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


  body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .height {
    height: 10vh;
  }


  .search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

  }

  .search input {

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


  }


  .search input:focus {

    box-shadow: none;
    border: 2px solid blue;


  }

  .search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

  }

  .search button {

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;

  }
  #search-results{
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 75px;
}

.search-container {
position: relative;
width: 50%;
margin-left: 3px;
}
.user-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* Style for user image */
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style for user name */
.user-name {
  font-weight: bold;
}

  .menuCustom {

    background-color: rgb(255, 255, 255);
    border-radius: 0%;
  }

  .customBorder {

    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .customText {

    text-decoration: none;
    font-size: 16px;
    margin-top: -10px;
    background-color: white;

  }

  .customList {
    background-color: rgb(255, 255, 255);
    color: #1F3BB3;
  }

  .customListVal {

    margin-left: 30px;
    padding: 5px 5px;
    background-color: #ffffff;
    list-style-type: none;
  }

  .customIcon {

    font-size: 20px;
    font-size: 20px;
    /* margin-top: 19px; */
    position: relative;

    top: 4px;
  }

  .customUL {
    background-color: #ffffff;
  }
  

  .sub-tag {
    display: none;
  }

  /* Show the sub-tag on hover */
  .user-email:hover .sub-tag {
    display: block;
  }
  
</style>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />

  <link href="{% static 'assets/css/list.css' %}" rel="stylesheet" />

</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        

        <div>
          {% if  user.is_authenticated %}
          {% if user.role == 1 %}
          <a class="navbar-brand brand-logo" href="{% url 'index'  %}">
            <img src="{% static 'assets\images\logo\lo.jpg' %}" alt="logo" />
          </a>
          {% endif %}{% endif %}
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">
          <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
            {% comment %} <form id="search-form">

              <div class="search" style="width: 600px;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" id="query" name="query"
                  placeholder="Have to find something? Ask Me">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
              <form> {% endcomment %}

                  <div class="search" style="width: 600px;">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" id="search_bar" name="query"
                      placeholder="Have to find something? Ask Me">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
          </li>

        </ul>
        <div id="search-results">
        </div>
        <ul class="navbar-nav ms-auto">

          <!-- <li class="nav-item d-none d-lg-block">
            <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
              <span class="input-group-addon input-group-prepend border-right">
                <span class="icon-calendar input-group-text calendar-icon"></span>
              </span>
              <input type="text" class="form-control">
            </div>
          </li> -->
          <!-- <li class="nav-item">
            <form class="search-form" action="#">
              <i class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search Here" title="Search here">
            </form>
          </li> -->
          {% if user.role == 1 %}
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'wishlist' %}">
              <i class="bi bi-heart"></i>
              <span class="count"></span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'cart'  %}">
              <img src="{% static 'assets\css\cartfull.png' %}" style=" height: 30px;margin-left: 20px; width: 30px;">
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link ml-3"href="{% url 'user_orders'  %}">
              <img src="{% static 'assets\css\box.png' %}" style=" height: 35px; width: 30px;">
            </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <div class="user-email text-dark ml-5">
              {% if  user.is_authenticated %}
          {% if user.role == 4 %}
              <p class="nav-link "><b>Admin</b></p>
          {% endif %}
          {% endif %}

              <div class="sub-tag">
                <a href="{% url 'logout' %}" class="mdi mdi-power text-dark me-2"
                  style="text-decoration: none; ">Logout</a>
              </div>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->

      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>

      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">All Products</span>
            </a>
          </li>
          <!-- <li class="nav-item nav-category">Categories</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li> -->

          <li class="nav-item nav-category">Categories</li>
          <!-- {% for product in products3 %}
          
            <a class="nav-link"  href="/list/{{product}}" aria-expanded="false" aria-controls="form-elements">
              <li class="nav-item">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <span class="menu-title">
                {{ product.category_name }}
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                {% for product2 in products1 %}
                <script>console.log("{{product.id}} {{product2.category_id}}")</script>
                {% if product.id is product2.category_id %}
                <li class="nav-item"><a class="nav-link" href="/list/sub/{{product2}}">
                  {{ product2.name }}
                </a></li>
                {% endif %}{%endfor%}
              </ul>
            </div>
          </li>
          {% endfor %}


 -->


          {% for product in products3 %}
          <li class="  customBorder" style="background-color: white;">
            <a class="" href="/list/{{product}}" style="text-decoration: none;">
              <i class=" menu-icon mdi mdi-card-text-outline customIcon  "></i>
              <span class="customText  ml-2">
                {{ product.category_name }}
              </span>
            </a>
          </li>

          {% for product2 in products1 %}
          {% if product.id is product2.category_id %}
          <ul class="customUL">
            <li class="customListVal ">

              <a class=" customList " href="/list/sub/{{product2}}" style="text-decoration: none;">
                {{ product2.name }}
              </a>

            </li>
          </ul>
          {% endif %}
          {%endfor%}

          </a>
          </li>
          {% endfor %}

          {% if  user.is_authenticated %}
          {% if user.role == 1 %}
          <li class="nav-item nav-category">Account</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account-circle-outline"></i>
              <span class="menu-title">
                <b>{{user.email}}</b>
              </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}"> Profile </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'user_orders' %}"> Orders </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'cart' %}"> Cart </a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'wishlist' %}"> Wishlist </a></li>




              </ul>
            </div>
          </li>
          <!-- <li class="nav-item nav-category">help</li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="menu-icon mdi mdi-file-document"></i>
              <span class="menu-title">Logout</span>
            </a>
          {% endif %}
          {% endif %}
        </li>
        </ul>
      </nav>
      <!-- partial -->






      <div class="main-panel">
        <div class="content-wrapper">

          <!-- <div class="mx-auto" style="width: 100%; max-width: 600px; height: 50px">
        <form id="search-form">
            <div class="input-group" style="height: 50px">
                <input class="form-control border-success w-50" type="text" id="query" name="query" placeholder="Search ">
                <button type="submit" class="btn btn-success border-0 w-25">Search</button>
            </div>
        </form>
    </div> -->

          <div class=" col-md-4 mb-1" style="max-width: 1700px; " id="results">
            <!-- Results or message will be displayed here using JavaScript -->
          </div>

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

          {% comment %} <script>
            // Define a function to handle form submission
            function handleFormSubmission() {
              // Get search query from form
              var query = $("#query").val();
              console.log("Form submitted!");
              console.log("Query:", query);

              // Send AJAX request
              $.ajax({
                type: "GET",
                url: "/search_product/",  // Replace with the actual URL
                data: { query: query },
                dataType: "json",
                success: function (data) {
                  // Check if there are any results
                  if (data.product.length === 0) {
                    // No results found, display the "no-results" message
                    $("#results").html("<p>No products found.</p>");
                    // Hide the property listings
                    $("#pro").hide();
                  } else {
                    // Results found, display the results
                    var resultsHtml = "<div class='row mb-3'>"; // Open a row div with margin

                    data.product.forEach(function (product, index) {
                      // Check if it's divisible by 4 to start a new row
                      if (index % 4 === 0) {
                        resultsHtml += '</div>'; // Close the previous row
                        resultsHtml += '<div class="row mb-3">'; // Open a new row with margin
                      }



                      // Create the property card HTML
                      resultsHtml += '<div class="col-md-4 mb-5">';
                      resultsHtml += '<div class="card" style="width: 18rem;">';

                      resultsHtml += '<a href="/singleview/' + product.id + '/" style="text-decoration: none;" >';
                      resultsHtml += '<img src="' + product.product_images1 + '" class="card-img-top" style="height: 286px;" >';
                      resultsHtml += '<div class="card-body">';
                      resultsHtml += '<h6 class="text-dark"><b>' + product.brand_name + '</b></h6>';
                      resultsHtml += '<h6 class="text-dark"><b>' + product.product_name + '</b></h6>';
                      resultsHtml += '</a>'
                      resultsHtml += '<div class="r mt-3" style="display: flex;">';
                      resultsHtml += '<h6 class="card-text"><b>₹' + product.price + '</b></h6>';

                      
                      resultsHtml += '</div>';
                      resultsHtml += '<span class="badge bg-success text-light me-1 mt-1" >' + product.category +'</span>';
                      resultsHtml += '<span class="badge bg-secondary text-dark me-1" >' + product.subcategory +'</span>';
                      resultsHtml += '</div>';
                      resultsHtml += '</div>';
                      resultsHtml += '</div>';
                    });
                    resultsHtml += "</div>"; // Close the last row with margin
                    $("#pro").html(resultsHtml); // Replace the content of #pro with resultsHtml
                    // Show the property listings
                    $("#pro").show();
                  }
                },
                error: function (xhr, status, error) {
                  // Log any errors to the console
                  console.error(xhr.responseText);
                },
              });
            }

            // Call the form submission handler function when the document is ready
            $(document).ready(function () {
              $("#search-form").submit(function (e) {
                e.preventDefault();
                handleFormSubmission();
              });
            });
          </script> {% endcomment %}
          <script>
            $("#search_bar").keyup(function(){
            
              var headers = {
                  "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
              };
              var searchTerm = $(this).val();
              console.log(searchTerm)
              if (searchTerm.trim() === "") {
          // If it's empty, hide the container and return
          $("#search-results").hide();
          return;
      }
      
              $.ajax({
                  type:"GET",
                  headers: headers,
                  dataType:'Json',
                  url:"{% url 'search_by_name' 0 %}".replace('0',searchTerm),
                  success: function (data) {
                      // Clear previous results
                      $("#search-results").empty();
  
                      // Parse the JSON data
                      var users = JSON.parse(data);
                      console.log(users)
                      // Loop through the users and create HTML elements
                      for (var i = 0; i < users.length; i++) {
                        
                          
      var user = users[i];
      console.log('Hello'+user.fields.product_images1);
      var userHtml = '<div class="user-box">';
      
      userHtml += '<img class="user-img" src="media/' + user.fields.product_images2 + '" alt="User Image">';
      userHtml += '<a href="/singleview/' + user.pk + '">' + user.fields.product_name + '</a>';
     
      userHtml += user.fields.product_name;
      
      
      userHtml += '</p>';
      userHtml += '</div>';
  
      $("#search-results").append(userHtml);
  }
  
                      
                      // Show the user list
                      $("#search-results").show();
                  },
                  error: function (xhr, status, error) {
                      console.error(xhr.responseText);
                  }
              })
          })
          </script>
            <div class="col-sm-12">
              {% if user.role == 4 %}
              

              <div class="row" id="pro">
                {% if user.role == 4 %}
                <h4>Products for Sale</h4>
                {% endif %}
                {% if products12 %}
                {% for product in products12 %}
                <div class="col-md-4 mb-5">
                  <div class="card" style="width: 18rem;">
                    {{ product.category_name }}
                    <img src="{{ product.product_images1.url }}" class="card-img-top" style="height: 286px;" alt="...">
                    <div class="card-body">
                      <a href="{% url 'singleview' product.id %} " style="text-decoration: none;">
                        <h6 class="text-dark"><b>{{ product.brand_name }}</b></h6>
                        <h6 class="text-dark">{{ product.product_name }}</h6>
                      </a>
                      {% if user.role == 4 %}
                      <h6 class="text-dark" style="text-decoration: none;"><b>Seller:{{ product.user.name }}</b></h6>


                      <div class="r mt-3" style="display: flex;">
                        <h6 class="card-text"><b>₹{{ product.price }}</b></h6>

                        {% elif user.role == 1 %}

                        {% if product.id in user_wishlist_ids %}
                        <a href="{% url 'delete_wishlist' product.id %}">
                          <i class="bi bi-heart-fill "
                            style="font-size: 2rem;margin-left: 100px; color: rgb(222, 24, 24);"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'add_wishlist' product.id %}">
                          <i class="bi bi-heart"
                            style="font-size: 2rem;margin-left: 100px; color: rgb(195, 118, 29);"></i>
                        </a>
                        {% endif %}

                        {% if product.id in user_cart_ids %}
                        <a href="{% url 'cart'  %}">

                          <img src="{% static 'assets\css\cartfull.png' %}"
                            style=" height: 30px;margin-left: 10px; width: 30px; "> </a>
                        {% else %}
                        <a href="{% url 'add_cart' product.id %}">
                          <i class="bi bi-cart "
                            style="font-size: 2rem; color: rgb(195, 118, 29); margin-left: 20px;"></i>
                        </a>
                        {% endif %}
                        {% endif%}


                      </div>

                      {% if user.role == 4 %}
                      <a href="{% url 'deleteproductadmin' product.id %}" class="btn btn-sm btn-danger ml-3 mt-3">Remove
                        Product
                      </a>
                      {% endif%}
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% else %}
    <!-- Display "No matches found" message -->
    <p>No matches found</p>
  {% endif %}

              </div>

              {% elif user.role == 1 %}
              


              
              <div class="container mt-5">
                <div class="row" id="pro">
                    {% for product in products12 %}
                    <div class="col-md-4 mb-5">
                        <div class="card" style="width: 18rem;">
                            {{ product.category_name }}
                            <img src="{{ product.product_images1.url }}" class="card-img-top" style="height: 286px;" alt="...">
                            <div class="card-body">
                                <a href="{% url 'singleview' product.id %} " style="text-decoration: none;">
                                    <h6 class="text-dark"><b>{{ product.brand_name }}</b></h6>
                                    <h6 class="text-dark">{{ product.product_name }}</h6>
                                </a>
                                <div class="r mt-3" style="display: flex;">
                                    <h6 class="card-text"><b>₹{{ product.price }}</b></h6>
                                    {% if product.id in user_wishlist_ids %}
                                    <a href="{% url 'delete_wishlist' product.id %}">
                                        <i class="bi bi-heart-fill " style="font-size: 2rem;margin-left: 90px; color: rgb(222, 24, 24);"></i>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'add_wishlist' product.id %}">
                                        <i class="bi bi-heart" style="font-size: 2rem;margin-left: 90px; color: rgb(195, 118, 29);"></i>
                                    </a>
                                    {% endif %}
                                    
                                    {% if product.id in user_cart_ids %}
                                    <a href="{% url 'cart'  %}">
                                        <img src="{% static 'assets\css\cartfull.png' %}" style="height: 30px;margin-left: 10px; width: 30px; ">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'add_cart' product.id %}">
                                        <i class="bi bi-cart" style="font-size: 2rem; color: rgb(195, 118, 29); margin-left: 20px;"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="container mt-4">
                <ul class="pagination justify-content-center">
                    {% if products12.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products12.previous_page_number }}">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for num in products12.paginator.page_range %}
                    <li class="page-item {% if products12.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if products12.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products12.next_page_number }}">&raquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products12.paginator.num_pages }}">&raquo;&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
              {% endif %}

              {% if user.role == 4 %}

              <div class="row">
                {% if products22 %}
                <h4>Blacklisted</h4>
                {% endif %}

                
                {% for product in products22 %}
                <div class="col-md-4 mb-5">
                  <div class="card" style="width: 18rem;">
                    {{ product.category_name }}
                    <img src="{{ product.product_images1.url }}" class="card-img-top" style="height: 286px;" alt="...">
                    <div class="card-body">
                      <a href="{% url 'singleview' product.id %} " style="text-decoration: none;">
                        <h6 class="text-dark"><b>{{ product.brand_name }}</b></h6>
                        <h6 class="text-dark">{{ product.product_name }}</h6>
                      </a>
                      {% if user.role == 4 %}
                      <h6 class="text-dark" style="text-decoration: none;"><b>Seller:{{ product.user.name }}</b></h6>


                      <div class="r mt-3" style="display: flex;">
                        <h6 class="card-text"><b>₹{{ product.price }}</b></h6>

                        {% elif user.role == 1 %}

                        {% if product.id in user_wishlist_ids %}
                        <a href="{% url 'delete_wishlist' product.id %}">
                          <i class="bi bi-heart-fill "
                            style="font-size: 2rem;margin-left: 100px; color: rgb(222, 24, 24);"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'add_wishlist' product.id %}">
                          <i class="bi bi-heart"
                            style="font-size: 2rem;margin-left: 100px; color: rgb(195, 118, 29);"></i>
                        </a>
                        {% endif %}
                        
                        {% if product.id in user_cart_ids %}
                        <a href="{% url 'cart'  %}">

                          <img src="{% static 'assets\css\cartfull.png' %}"
                            style=" height: 30px;margin-left: 10px; width: 30px; "> </a>
                        {% else %}
                        <a href="{% url 'add_cart' product.id %}">
                          <i class="bi bi-cart"
                            style="font-size: 2rem; color: rgb(195, 118, 29); margin-left: 20px;"></i>
                        </a>
                        {% endif %}
                        {% endif%}


                      </div>

                      {% if user.role == 4 %}
                      <a href="{% url 'addproductadmin' product.id %}" class="btn btn-sm btn-success ml-3 mt-3"  >Add Product
                      </a>
                      {% endif%}
                    </div>
                  </div>
                </div>
                {% endfor %}



              </div>
              {% endif %}




              {% if user.role == 4 %}

              <div class="row">
                {% if products23 %}
                <h4>Products Once existed</h4>

                {% endif %}

                
                {% for product in products23 %}
                <div class="col-md-4 mb-5">
                  <div class="card" style="width: 18rem;">
                    {{ product.category_name }}
                    <img src="{{ product.product_images1.url }}" class="card-img-top" style="height: 286px;" alt="...">
                    <div class="card-body">
                      <a href="{% url 'singleview' product.id %} " style="text-decoration: none;">
                        <h6 class="text-dark"><b>{{ product.brand_name }}</b></h6>
                        <h6 class="text-dark">{{ product.product_name }}</h6>
                      </a>
                      {% if user.role == 4 %}
                      <h6 class="text-dark" style="text-decoration: none;"><b>Seller:{{ product.user.name }}</b></h6>


                      <div class="r mt-3" style="display: flex;">
                        <h6 class="card-text"><b>₹{{ product.price }}</b></h6>

                        {% elif user.role == 1 %}

                        {% if product.id in user_wishlist_ids %}
                        <a href="{% url 'delete_wishlist' product.id %}">
                          <i class="bi bi-heart-fill "
                            style="font-size: 2rem;margin-left: 100px; color: rgb(222, 24, 24);"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'add_wishlist' product.id %}">
                          <i class="bi bi-heart"
                            style="font-size: 2rem;margin-left: 100px; color: rgb(195, 118, 29);"></i>
                        </a>
                        {% endif %}

                        {% if product.id in user_cart_ids %}
                        <a href="{% url 'cart'  %}">

                          <img src="{% static 'assets\css\cartfull.png' %}"
                            style=" height: 30px;margin-left: 10px; width: 30px; "> </a>
                        {% else %}
                        <a href="{% url 'add_cart' product.id %}">
                          <i class="bi bi-cart"
                            style="font-size: 2rem; color: rgb(195, 118, 29); margin-left: 20px;"></i>
                        </a>
                        {% endif %}
                        {% endif%}


                      </div>

                      {% if user.role == 4 %}
                      
                      {% endif%}
                    </div>
                  </div>
                </div>
                {% endfor %}



              </div>
              {% endif %}

            </div>
          


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h3 class="text-uppercase mb-4 font-weight-bold text-light">
              Farzi
            </h3>
            <p>
              Farzi offers a diverse range of stylish, high-quality home furnishings and decor. Browse, select, and purchase furniture and accessories from the comfort of your home.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold text-light">Products</h4>
            {% for product in products3 %}
            <p>

              <a class="text-white" href="/list/{{product}}">{{ product.category_name }}</a>
          </p>
              {% endfor %}

            
            
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <style>
            /* Remove underline for anchor tags with class "text-white" */
            a.text-white {
              text-decoration: none;
            }
          </style>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">              
            <h4 class="text-uppercase mb-4 font-weight-bold text-light">Services</h4>
            <p>
              <a class="text-white" href="{% url 'profile' %}">Profile</a>
            </p>
            <p>
              <a class="text-white" href="{% url 'user_orders' %}">Orders</a>
            </p>
            <p>
              <a class="text-white" href="{% url 'wishlist' %}">Wishlist</a>
            </p>
            <p>
              <a class="text-white" href="{% url 'cart' %}">Cart</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <style>
            /* Apply hover effect to change text color to orange */
            .contact-link:hover {
              color: orange;
            }
          </style>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h4 class="text-uppercase mb-4 font-weight-bold text-light">Contact</h4>
            <p><i class="bi bi-pin-map-fill mr-2"></i> Farzi Furnitures, Hyderabad, India</p>
            <p><a href="mailto:farzifurniturestore@gmail.com" class="text-white contact-link"><i class="bi bi-envelope-arrow-up mr-2"></i> farzifurniturestore@gmail.com</a></p>
            <p><a href="tel:6252519847" class="text-white contact-link"><i class="bi bi-telephone-plus mr-2"></i> 6252519847</a></p>
            <p><a href="tel:8281444724" class="text-white contact-link"><i class="bi bi-telephone-plus mr-2"></i> 8281444724</a></p>
          </div>
          
          
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">

        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
             
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a class="text-white m-1" href="https://www.facebook.com/ikea">
              <i class="bi bi-facebook"></i>
            </a>
            

            <!-- Twitter -->
            <a class="text-white m-1" href="https://twitter.com/IKEAFoundation">
              <i class="bi bi-twitter"></i>
            </a>
            

            <!-- Google -->
            <a class="text-white m-1" href="mailto:farzifurniturestore@gmail.com">
              <i class="bi bi-envelope"></i>
            </a>
            

            <!-- Instagram -->
            <a class="text-white m-1" href="https://wa.me/628251974">
              <i class="bi bi-whatsapp"></i>
            </a>
            
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>